<div class="container">
  <div class="row">
    <div class="col-xs-24 col-sm-16 col-sm-offset-4">
      <p>Maua focuses on helping innovative African entrepreneurs by providing micro-financing, infrastructure and advice to their small and medium-sized businesses.</p>
      <p>Based in Kribi-Cameroon with links in Paris, Europe and USA, Maua is a fund launched by afro-passionate entrepreneurs willing to cooperate with africa-based entrepreneurs. We are providing financing and expertise to small and medium companies on the continent and helping them from the seed stage to reach their strategic goals.</p>
    </div>
  </div>
</div>
