

    <div class="container" id="description">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <div class="row" id="paragraph">
        <p>Maua focuses on helping innovative African entrepreneurs by providing micro-financing, infrastructure and advice to their small and medium-sized businesses.</p>
        </div>
        <div class="row" id="paragraph">
        </div>
        <div class="row" id="paragraph">
        </div>
        <div class="row" id="paragraph">
         <p>Based in Kribi-Cameroon with links in Paris, Europe and USA, Maua is a fund launched by afro-passionate entrepreneurs willing to cooperate with africa-based entrepreneurs. We are providing financing and expertise to small and medium companies on the continent and helping them from the seed stage to reach their strategic goals.</p>
        </div>
      <div class="col-xs-2"></div>
    </div>