

    <div class="container" id="staff-list">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">

        <div class="panel panel-default">


  <!-- Table -->
  <table class="table">
    <tr>
      <th>Lynda Amadagana</th>
      <th> <a href="http://fr.linkedin.com/pub/lynda-amadagana/55/145/250"><i class="fa fa-linkedin" id="linkedin"></i></a></th>
    </tr>
    <tr>
      <th>Wardiya Bellila</th>
      <th> <a href="http://fr.linkedin.com/pub/wardiya-bellila/45/96b/1a7"><i class="fa fa-linkedin" id="linkedin"></i></a></th>
    </tr>
    <tr>
      <th>Alex Eba</th>
      <th> <a href="https://www.linkedin.com/profile/view?id=387809968&authType=NAME_SEARCH&authToken=6Tct&locale=en_US&trk=tyah&trkInfo=tarId%3A1419941235782%2Ctas%3AEba%20Abada%20A%2Cidx%3A1-2-2"><i class="fa fa-linkedin" id="linkedin"></i></a></th>
    </tr>
    <tr>
      <th>Joseph Guimatsia</th>
      <th> <a href="https://de.linkedin.com/pub/joseph-guimatsia/55/b51/564"><i class="fa fa-linkedin" id="linkedin"></i></a></th>
    </tr>
    <tr>
      <th>Anne-Laurence Hye</th>
      <th> <a href="https://www.linkedin.com/profile/view?id=329057552&authType=NAME_SEARCH&authToken=rfiz&locale=en_US&trk=tyah2&trkInfo=tarId%3A1419941347754%2Ctas%3AANNE%20LAURE%2Cidx%3A1-1-1"><i class="fa fa-linkedin" id="linkedin"></i></a></th>
    </tr>
    <tr>
      <th>Jacques Nyemb</th>
      <th> <a href="http://fr.linkedin.com/pub/jacques-jonathan-nyemb/39/6aa/7a3"><i class="fa fa-linkedin" id="linkedin"></i></a></th>
    </tr>
    <tr>
      <th>Miriam Poretti</th>
      <th> <a href="http://ch.linkedin.com/in/miriamporetti"><i class="fa fa-linkedin" id="linkedin"></i></a></th>
    </tr>
    <tr>
      <th>Gabrielle Vivier</th>
      <th> <a href="https://fr.linkedin.com/pub/gabrielle-vivier/30/411/6a9"><i class="fa fa-linkedin" id="linkedin"></i></a></th>
    </tr>
  </table>
</div>
      </div>
      <div class="col-xs-4"></div>
    </div>

