

    <div class="container" id="staff-list">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">


  <!-- Table -->
  <table id="staff-tab">
    <tr id="staff-tab">
      <th><p id="name">Lynda Amadagana</p>
      <p id="linkedin"><a href="http://fr.linkedin.com/pub/lynda-amadagana/55/145/250"><i class="fa fa-linkedin" id="linkedin"></i></a></p></th>
      <th>
      <p id="bio">Lynda Amadagana is a lawyer, associate in the Energy and Infrastructure group of the law firm Orrick. Before joining Orrick, Lynda worked in the Corporate department of Clifford Chance Paris office and in the Litigation department of Reed Smith. She also worked in the Nuclear Engineering division of the Procurement department of EDF group. She was born and raised in Cameroon and she is the founder of Maua.</p>
    </th>
    </tr>
    <tr id="staff-tab">
      <th> <p id="name">Wardiya Bellila</p>
      <p><a href="http://fr.linkedin.com/pub/wardiya-bellila/45/96b/1a7"><i class="fa fa-linkedin" id="linkedin"></i></a></p></th>
      <th>
      <p id="bio">Wardiya Bellila has been working as a purchasing consultant for a company called Agap2 in Paris since the beginning of 2013. She is actually on a mission in the Purchasing Department of EDF (one of the largest worldwide electricity producer). She holds a master degree in Supply Chain Management from ICN Business School (Nancy, France). She was born in Algeria, and spent almost all her life in France. She is a cofounder of Maua.
      </p></th>
    </tr>
    <tr id="staff-tab">
      <th><p id="name">Alex Eba</p>
        <p><a href="https://www.linkedin.com/profile/view?id=387809968&authType=NAME_SEARCH&authToken=6Tct&locale=en_US&trk=tyah&trkInfo=tarId%3A1419941235782%2Ctas%3AEba%20Abada%20A%2Cidx%3A1-2-2"><i class="fa fa-linkedin" id="linkedin"></i></a></p></th>
      <th>
        <p id="bio">Joseph Guimatsia presently works as a Consultant at Ernst&Young, Germany. He is a Law and Business professional with many years of international consulting in various fields: Tax, HR, IT and Finance.He is a co-founder of Maua.</p></th>
    </tr>
    <tr id="staff-tab">
      <th><p id="name">Joseph Guimatsia</p>
        <p><a href="https://de.linkedin.com/pub/joseph-guimatsia/55/b51/564"><i class="fa fa-linkedin" id="linkedin"></i></a></p></th>
      <th>
        <p id="bio"> Alex presently works at the Ministry of Education in Cameroon as a high-shool History and Geography teacher. She holds a Master degree in History and Geography from the Cameroonian School of Administration. He is a co-founder of Maua.</p></th>
    </tr>
    <tr id="staff-tab">
      <th><p id="name">Miriam Poretti</p>
        <p><a href="http://ch.linkedin.com/in/miriamporetti"><i class="fa fa-linkedin" id="linkedin"></i></p></th>
      <th>
        <p id="bio">
        Miriam Poretti presently works as an Operations analyst with JP Morgan Private Bank in Geneva Switzerland. She also worked with Lombard Odier Private Bank and the World Economic Forum in Geneva before joining JP Morgan. She holds a Master degree in International Political Economy from the London School of Economics and Bachelors degree in Political Science from the University of Geneva, Switzerland. She was born in Cameroon where she spent the first 13 years of her life before moving to Switzerland.</p></a></th>
    </tr>
    <tr id="staff-tab">
      <th> <p id="name">Gabrielle Vivier</p>
        <p><a href="https://fr.linkedin.com/pub/gabrielle-vivier/30/411/6a9"><i class="fa fa-linkedin" id="linkedin"></i></a></p></th>
      <th>
        <p id="bio">Gabrielle Vivier is a lawyer, associate at Orrick Rambaud Martel, member of the Energy and Infrastructure group. She intervenes in structuring and financing projects in energy and infrastructure sectors and more generally in structured finance, mainly in Africa. Prior to joining Orrick Rambaud Martel, Gabrielle did a 2-months coding bootcamp named “Le Wagon” and she is now coding Maua website. She is a cofounder of Maua.</p></th>
    </tr>
  </table>

      </div>
      <div class="col-xs-1"></div>
    </div>

