$grid-columns: 24;

$brand-primary: #DF662A;

$navbar-default-bg: #FFF;
$navbar-margin-bottom: 0;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: darken($brand-primary, 20%);


