<div class="wrapper">


  <div class="container" id="baseline-background">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-6">
      <h1 id="baseline">Maua</h1>
      <h3>Open doors for african entrepreneurs</h3>
        <h3><%= link_to 'Learn more', maua_description_path, id: "navbar-maua"%></a></h3>
      <h3 id="follow">Follow us
          <a href="https://facebook.com/MauaAfrica">
            <i class="fa fa-facebook fa-5"></i>
          </a>
          <a href="https://twitter.com/MauaAfrica">
            <i class="fa fa-twitter fa-5"></i>
          </a></h3>
      </div>
      <div class="col-xs-5"></div>
    </div>
    <div class="row">
      <div class="col-xs-5"></div>
      <div class="col-xs-5" id="welcome">

<!--         <p><a class="btn btn-warning btn-lg" role="button" id="button-maua">+</a></p> -->
      </div>
      <div class="col-xs-2 col-sm-3 col-md-3"></div>
    </div>

    </div>

        <div class="row spacer"></div>




</div>






