<div class="wrapper">


  <div class="container">

    <h1>Maua, c'est quoi ?</h1>

    <div class="row">
      <div class="col-xs-2 col-sm-3 col-md-3"></div>
      <div class="col-xs-8 col-sm-6 col-md-6" id="welcome">
        <p><strong>La vision de Maua est que l’entreprenariat est le moteur de l’économie en Afrique et un moyen efficace de lutte contre la pauvreté</strong>. Or, les PME africaines ont un accès insuffisant aux financements et aux infrastructures. Maua veut être un fonds de soutien et d’accompagnement des PME africaines.</p>
        <p><strong>Sur le continent africain, Maua sera une structure de soutien à l’entreprenariat</strong>, qui accorde des micro-financements aux PME, réalise des investissements dans les entreprises, assure des sessions de formation des entrepreneurs, met en place des mentorats, et accompagne les entreprises par la mise à disposition d’infrastructures.</p>
        <p><strong>Maua est donc à la fois un fonds d’investissement et une structure d’accompagnement qui sélectionne les entrepreneurs</strong>, procède à l’évaluation de leurs projets, réalise des investissements sous forme de micro-financements avec des taux d’intérêt réduits, et procède à l’accompagnement et au suivi des petites entreprises.</p>
<!--         <p><a class="btn btn-warning btn-lg" role="button" id="button-maua">+</a></p> -->
      </div>
      <div class="col-xs-2 col-sm-3 col-md-3"></div>
    </div>

  </div>

</div>






