<div class="container-fluid">
  <div class="row main-picture">
    <div class="col-xs-24">
      <h1>Maua</h1>
      <h3>Open doors for african entrepreneurs</h3>
      <h3><%= link_to 'Learn more', maua_description_path %></a></h3>
    </div>
  </div>
</div>
