<div class="wrapper">


  <div class="container">

    <h1>Maua, c'est quoi ?</h1>

    <div class="row">
      <div class="col-xs-2 col-sm-3 col-md-3"></div>
      <div class="col-xs-8 col-sm-6 col-md-6" id="welcome">
        <p>Maua, c'est ..........................</p>
        <p>Maua, c'est ..........................</p>
        <p>Maua, c'est ..........................</p>
<!--         <p><a class="btn btn-warning btn-lg" role="button" id="button-maua">+</a></p> -->
      </div>
      <div class="col-xs-2 col-sm-3 col-md-3"></div>
    </div>

  </div>

</div>
