<div class="wrapper">


  <div class="container">

    <h1>WELCOME</h1>

      <div class="col-xs-2"></div>
        <div class="col-xs-8 form-search">
          <p>Where do you wanna go?</p>
        </div>


  </div>

</div>
