/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

html, body {
  color: white;
  font-family: 'Muli', sans-serif;
  background-color: black;
/*  background:url(asset_path('yaounde.jpg', image)) no-repeat;
  background-size: cover;*/
/*  position: relative;*/
/*  background-image:url(asset_path('yaounde.png', image));
  position: relative;
  height: 100%;*/
}


footer {
  padding: 5px;
  background: white;
  color: white;
  border-top: 1px solid #E2EDE7;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
}

footer, .row, h5 {
  color: white;
}

.fa {
  padding-top: 4px;
  display: inline-block;
  color: white;
  font-size: 20px;
  margin: 30px;
}

.navbar-right >li > a {
  margin-right: 50px;
  margin-left: 50px;
}

#navbar-maua {
  color: white;
  font-family: 'Muli', sans-serif;
}

#navbar-maua:hover {
  border-bottom: 2px solid #881F1F;
  font-family: 'Muli', sans-serif;
}

#navbar-tittle{
  color: white;
  padding-left: 50px;
}


.navbar-brand {
 width: 10px;
 height: 10px;
}

#baseline {
  /*background: rgba(0, 0, 0, .8);*/
  color: white;
  margin-top: 80px;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 1);
}

#baseline-background {
  background:url(asset_path('rsa.jpg', image)) no-repeat;
  background-size: cover;
  height: 600px;
  text-shadow: rgba(0, 0, 0, 1);
}

#top {
  background: rgba(0, 0, 0, .4);
  border: none;
}



