/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

html, body {
  color: #881F1F;
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  background-image:url(asset_path('flowers.jpg', image));
  position: relative;
  height: 100%;
}


footer {
  padding: 5px;
  background: white;
  color: #881F1F;
  border-top: 1px solid #E2EDE7;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
}

footer, .row, h5 {
  color: #881F1F;
}

.fa {
  padding-top: 4px;
  display: inline-block;
  color: #881F1F;
  font-size: 20px;
}

.navbar-right >li > a {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

#navbar-maua {
  color: #881F1F;
  font-family: 'Muli', sans-serif;
}

#navbar-maua:hover {
  border-bottom: 2px solid #881F1F;
  font-family: 'Muli', sans-serif;
}

#navbar-tittle{
  color: #881F1F;
  padding-left: 50px;
}


.navbar-brand {
 width: 10px;
 height: 10px;
}




