#staff-list {
  margin-top: 50px;
  background: transparent;
  color: #DF9F45;
  border: none;
}

#linkedin {
  color: #DF662A;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  border: none;
/*  text-align: right;*/
}

#staff-tab > th {
  background-color: white;
  color: #DF662A;
  border: none;
  border-color: black;
}

/*#staff-tab {
  border: none;
}*/

#name {
  font-size: 20px;
  border: none;
  margin: 5px;
  padding: 5px;
}

#bio {
  margin: 20px;
  text-align: justify;
  text-justify: inter-word;
}